
.callButton {
  border: 3px solid #153B74;
  background: #153B74;
  border-radius: 5px;
  margin-top: 16px;
  cursor: pointer;
  color: white;
  padding: 8px;
  width: 50%;
}

.callButton:hover {
  border: 3px solid #153B74;
  background: white;
  transition: 0.2s;
  color: #153B74;
}

.callButton:active {
  transform: translateY(4px);
  transition: 0.1s;
}